* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
  background-color: #ccb7a7;
}
#page-container {
  display: grid;
  grid-template-columns: 3fr;
  grid-template-rows: auto 1fr auto; /* Header, main content, footer */
  grid-template-areas:
    "header"
    "main"
    "footer";
  gap: 20px; /* Space between the grid sections */
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  background-image: linear-gradient(to bottom right, #433125, #886146);
}

header {
  background-color: pink;
}

nav {
  display: flex;
  text-align: center;
  height: 54px;
  width: 100%;
  background-color: #2d2119;
  border: 2px solid #ccb7a7;
}
nav a:link {
  padding-right: 40px;
  margin: auto;
  color: #ccb7a7;
  text-decoration: none;
  font-size: 20pt;
  transition: transform 0.3s ease;
}
nav a:link:visited {
  color: #ccb7a7;
  text-decoration: none;
  font-size: 20pt;
}
nav a:link:hover {
  color: #ffffff;
  text-decoration: none;
  font-size: 20pt;
  transform: scale(1.1);
}
main {
  background-color: #e3d6cc;
  display: grid;
  grid-template-columns: 3fr;
  gap: 20px;
}
.main-container {
  display: grid;
  grid-template-columns: 3fr;
  grid-template-areas: "content";
  gap: 20px;
}

/* Menu Item Container  */
.menuItem {
  margin: 20px;
  border: 8px solid #ccb7a7;
  color: black;
  width: 200px;
  height: 250px;
  border-radius: 20%;
  overflow: hidden;
  box-shadow: 8px 8px 25px #0f0a07;
  transition: transform 0.3 ease;
}
.menuItem:hover {
  transform: scale(1.1);
}

/* Image inside Container*/
.menuItem img {
  width: 200px;
  height: auto;
}

/* Footer */
footer {
  background-color: #333;
  height: 50px;
  color: #fff;
  text-align: center;
  padding: 10px;
  border: 2px solid #ccb7a7;
}
