* {
  box-sizing: border-box;
}

#main-container {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  width: 1200px;
  height: 1000px;
  padding: 16px;
  background-image: linear-gradient(to bottom right, #433125, #886146);
  /* background-color: #6f4e37; */
  margin: auto;
}

body {
  background-color: #ccb7a7;
}

header {
  background-color: pink;
  height: 54px;
  width: 100%;
  background-color: #2d2119;
  border: 2px solid #ccb7a7;
}

header img {
  width: 100%;
}

nav {
  display: flex;
  text-align: center;
  height: 54px;
  width: 100%;
  background-color: #2d2119;
  border: 2px solid #ccb7a7;
}

nav a:link {
  padding-right: 40px;
  margin: auto;
  color: #ccb7a7;
  text-decoration: none;
  font-size: 20pt;
  transition: transform 0.3s ease;
}

nav a:visited {
  color: #ccb7a7;
  text-decoration: none;
  font-size: 20pt;
}
nav a:link:hover {
  color: #ffffff;
  text-decoration: none;
  font-size: 20pt;
  transform: scale(1.1);
}

/* Menu Item Container  */
.menuItem {
  margin: 20px;
  border: 8px solid #ccb7a7;
  color: black;
  width: 200px;
  height: 250px;
  border-radius: 20%;
  overflow: hidden;
  box-shadow: 8px 8px 25px #0f0a07;
  transition: transform 0.3 ease;
}

.menuItem:hover {
  transform: scale(1.1);
}

/* Image inside Container*/
.menuItem img {
  width: 200px;
  height: auto;
}

#statusText {
  background-color: rgba(0, 0, 0, 50%);
}
.success {
  color: green;
}

.fail {
  color: red;
}

form {
  display: grid;
  gap: 16px;

  grid-template-columns: 1fr 1fr;
  padding: 24px;
  background-color: rgba(0, 0, 0, 50%);
  color: white;
}

form div {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
